# Core functionality - changes here should be rare!
/src/app.py                   @Prabins-Castle
/src/backend/database.py      @Prabins-Castle
/src/backend/routers/auth.py  @Prabins-Castle

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Prabins-Castle
